h1{
    color: blue;/*color del texto*/
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}

h2{
    color: blue;
}

ul{
    color: blueviolet;
    line-height: 25px;        
}

h4{
    color: burlywood;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p{
    color: hotpink;
    font-size: 20px;
}

.destacados{
    color: brown;
}

.palabra{
    color: green;
    font-family: monospace;
    font-size: 30px;
}

#caja{
    background-color: greenyellow;
    width: 500px;
    height: 500px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    padding: 20px;
    box-sizing: border-box;
    
    box-shadow: 10px 20px 5px black;
    border-radius: 40px 0px 0px 0px;
    transform: rotate(338deg);
    opacity: 1;
}

#caja2{
    background-color: aqua;
    width: 200px;
    filter: drop-shadow(100px 5px 10px #000000);    
}

#caja2 ul{
    column-count: 2;
    column-gap: 10px;
}