@charset "utf-8";
/* CSS Document */

body {
	color: #000;
	background: #332F29;
	font-size:100%;
}
#contenedor {
	width: 800px;
	background: #8FA68E;
	margin-right:auto;
	margin-left:auto;
	overflow: hidden;
}
nav {
	background: #CC3910;
	float: left;
	width: 160px;
}
ul {
	list-style-type:none;
}
a {
	color:#F1F2C0;
	text-decoration: none;
}
section {
	background: #F1F2C0;
	float: left;
	margin: 0 0 0 25px;
	width: 400px;
}
aside {
	background: #CCC59E;
	float: right;
	width: 190px;
}

@media screen and (max-width: 800px) {
	
	body {
		color: #000;
		background: #332F29;
		font-size:100%;
	}
	
	#contenedor {
		flex-wrap: wrap;
	}
	
	nav {
		background: orange;
		float: left;
		width: 100%;
	}
	
	section {
		width: 100%;
		border: 1px solid black;
		margin: auto;
		padding: 10px;
	}
	
	aside {
		width: 100%;
		border: 1px solid black;
	}
}