.CajaGrande{
    background-color: black;
    display: flex;
    justify-content: space-between;
 }
 
 .Caja1{
    width: 200px;
    height: 200px;
    background-color: red;
    color: white;
    text-align: center;
 }
 
 .Caja2{
     width: 200px;
     height: 200px;
     background-color:blue;
     color: white;
     text-align: center;
 }
 
 .Caja3{
     width: 200px;
     height: 200px;
     background-color: green;
     color: white;
     text-align: center;
 }